<<<<<<< HEAD
:root{
    --mainblue: #3db8ff;
    --mainwhite: #ebeef0;
}

.img-container{
    background-color: transparent;
    border: 10px solid var(--mainblue);
    min-height: 60vh;
    border-radius: 40px;
    position: relative;
    margin-top: 15%;
    background-image: url("../img/carbg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container .btn{
    color: var(--mainblue);
    font-size: 40px;
    position: absolute;
    top: 50%;
}
.btn-left{
    left: 0;
}
.btn-right{
    right: 0;
}
=======
body{
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

 body .container{
    border: 2px solid #fff;
    height: 400px;
    width: 400px;
    margin-top: 100px;
}

#counter{
    font-size: 100px;
}

.counter-btn{
    background: darkblue;
    color: white;
    font-weight: bold;
}
>>>>>>> 0b03b1e4b754ec1ba53aa4d93d7de5d35036dc29
